body {
    background-color: #616161;
    font-family: 'Roboto', sans-serif;
    text-align:center;
    color:white;
    padding:0;
    margin:0;
}
#Bijoutier
{   
    font-size: 40px;
}
#image
{
   float:left;
}
a{
    text-decoration: none;/*Pour que le lien ne soit plus "souligné"...*/
    color: white; /*ça reste un exemple*/
}

#chim {
    margin-left : 39px;
    position :absolute;
    font-size: 22px;
    top:36px;
    opacity : 0.7;
}

td{
    float:left;
    background-color:dimgray;
    width:800px;
    text-align:left;
    padding:1px;
}
td:hover{
    background-color:slategrey;
}
input, textarea{
    float:right;
    width:200px;
}
table{margin-left:25%;}
