body{
  background-color: #212121 ;
  z-index: 1;
  font-family: 'Helvetica','Segoe UI', sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 100;
  line-height: 26.3999996185303px;

}
a{
  style:none;
  display: block;
  color:white;
}
a:hover{
  color:white;
}
a:visited{

  color:white;
}
header{
  background-color: white ;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  div>div>div{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  div>div>div{
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}
.container {
  padding-top: 50px;
  margin : 2px;
}
[class*="col-"], footer {
  line-height: 40px;
  text-align: center;
  margin-bottom: 5px;
}
h1{
  color: darkslategrey ;
  padding: 20px;
  font-size: 50px;
}
div>div>div{
  color:white;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
}
div>div>ul{
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}
ul{
  display: none;
}
#Polisseur{
  background-color: #B71C1C ;
}
#Polisseur li:hover{
  background-color: #C62828 ;
}

#Fondeur{
  background-color: #004D40 ;
}
#Fondeur li:hover{
  background-color: #00695C ;
}
#Bijoutier{
  background-color: #616161;
}
#Bijoutier li:hover{
  background-color: #757575 ;
}
#Controlleur{
  background-color: #131313 ;
}
#Controlleur li:hover{
  background-color: #424242 ;
}
#Tailleur{
  background-color: #1A237E ;
}
#Tailleur li:hover{
  background-color: #283593 ;
}
#Sertisseur{
  background-color: #F57F17 ;
}
#Sertisseur li:hover{
  background-color: #F9A825;
}
