body {
    background-color: #616161;
    font-family: 'Josephine Sans', sans-serif;
    text-align:center;
    /*overflow: hidden;*/
}
h1
{   
    font-size: 40px;
    font-color:white;
}
#image
{
   float:left;
}
a{
    text-decoration: none;/*Pour que le lien ne soit plus "souligné"...*/
    color: white; /*ça reste un exemple*/
}

#chim {
    margin-left : 39px;
    position :absolute;
    font-size: 22px;
    top:36px;
    opacity : 0.7;
}

/* style du bloc ul */
.menu-vertical {
  
  list-style: none; /* supprime les puces de liste */
  padding: 4px; /* on fait un peu de place autour des liens */
  margin: 0; /* on annule les marges */
  background: #616161;
  border-color: white;
}
 
/* styles des liens et éléments de liste */
.mv-item,
.mv-item a {
    width: 200px;
  /* les liens et item deviennent des blocs */
  /* suffit théoriquement à virer les puces de liste */
  display: inline-block;
}
 
/* styles des liens */
.mv-item a {
    
  margin: 1px 0; /* espace les liens d'1 px */
  padding: 8px 20px; /* marges internes pour aérer */ 
  color: #616161;
  background: #ffffff;
  text-decoration: none; /* on vire le soulignement */
  border-radius : 10px;

  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
}


/* styles changeants au survol et focus */
.mv-item a:hover,
.mv-item a:focus {
  background: #afad8d;
  color: #616161;
  padding-left: 30px; /* décalage du contenu de 10px vers la droite (30-20 = 10) */
}

#cadre
{
    
    border: 2px inset white;
    margin : 50px;
        
}
#cadre
{    
    border: 2px inset white;
    margin : 50px;  
    position : absolute;
    top:100px;   
    width: 90%;   
}
#Formulaire
{
	padding: 20px;

}
input{
	margin:20px;
}
select{
	margin:20px;
}
#tableauMetier
{
margin : 10px auto auto auto; 

}
table
{
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    padding: 3px;
}

.mv-item2,
.mv-item2 a {
    width: 200px;
  /* les liens et item deviennent des blocs */
  /* suffit théoriquement à virer les puces de liste */
  display: inline-block;
}
 
/* styles des liens */
.mv-item2 a {
    
  margin: 1px 0; /* espace les liens d'1 px */
  padding: 8px 20px; /* marges internes pour aérer */ 
  color: #616161;
  background: #ffffff;
  text-decoration: none; /* on vire le soulignement */
  border-radius : 10px;

  /* on définit la transition pour les navigateurs */
  -webkit-transition: all .3s; /* Chrome/Safari */
  -moz-transition: all .3s; /* Firefox (plus trop nécessaire) */
  transition: all .3s; /* syntaxe officielle */
}
.planif
{
  background-color: red;
}
.encours
{
  background-color: orange;
}
.attenteClient
{
  background-color: yellow;
}
.stock
{
background-color: green;
}
#selectClient{
  background-color: #616161;
  color: white;  
  margin : 0px;
    width: 200px;
    text-align: center;
}
#client_idclient{
  margin: 1px;
    width: 200px;
}
